* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:"Poppins", sans-serif;
}

body {
    background-color: antiquewhite;
}

.container {
    background-color: white;
    width: 60%;
    max-width: 37.5em;
    padding: 3.12em 1.87em;
    position:absolute;
    transform:translateX(-50%);
    left:50%;
    top:1em;
    box-shadow:0 1.25em 3.43em rgba(0,0,0,0.2);
    border-radius: 0.5em;
}

input[type = "file"] {
    display:none;
}

label {
    display:block;
    position:relative;
    background-color: blue;
    color: white;
    font-size: 1.1em;
    text-align:center;
    width:16em;
    padding:1em 0;
    border-radius:0.3em;
    margin:0 auto 1em auto;
    cursor: pointer;
}

.active {
    border: 0.2em dotted blue;
}

#error {
    text-align: center;
    color:red;
}

#image-display {
    width:90%;
    position:relative;
    margin:0 auto;
}