* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:"Poppins", sans-serif;
}

body {
    background-color: antiquewhite;
}

.container {
    background-color: white;
    width: 60%;
    max-width: 37.5em;
    padding: 3.12em 1.87em;
    position:absolute;
    transform:translateX(-50%);
    left:50%;
    top:1em;
    box-shadow:0 1.25em 3.43em rgba(0,0,0,0.2);
    border-radius: 0.5em;
}