* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background:linear-gradient(135deg, rgb(0, 119, 255), rgb(81, 146, 142)) ;
}


.container {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    
}


  
.login-box{
    width:420px;
    background:rgba(255,255,255,.15);
    backdrop-filter:blur(18px);
    border-radius:20px;
    padding:50px 45px;
    box-shadow:0 10px 35px rgba(0,0,0,.3);
    animation:fadeIn .7s ease;

}


h1 {
    margin-bottom: 15px;
    text-align: center;
}

.subtitle {
    font-size: 1.5em;
    margin-bottom:5px;
}

.input-box {
    margin-bottom: 5px;

}

input {
    width: 70%;
    height: 30px;
    padding-left: 5px;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 3px;
    border:1px solid rgba(255,255,255,.25);
    background:rgba(255,255,255,.15);
    font-size: 16px;
}

.password-wrapper {
    position: relative;
}


.fa-solid {
    position: absolute;
    right:115px;
    top: 30%;
}

button {
    margin-top: 15px;
    width: 30%;
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    border: none;
    border:1px solid rgba(255,255,255,.25);
    background:rgba(255,255,255,.15);
}





