* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(24, 24, 57);
}

.container {
    width: 400px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

}

textarea {
    width: 100%;
    resize: none;
    background-color: rgb(55, 55, 77);
    border: none;
    font-size: 16px;
    line-height: 30px;
    padding: 15px;
    border-radius: 3px;
    color: azure;

}

p {
    color: white;
    text-align: right;
    margin-top: 15px;
    
}