body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#calculator {
    font-family: Arial, sans-serif;
    background-color: rgb(22, 19, 19);
    max-width: 500px;
    overflow: hidden;
    border-radius: 15px;
}

#display {
    width: 100%;
    background-color: rgb(117, 160, 160);
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button {
    width:100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: rgb(44, 37, 37);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color:rgb(87, 80, 80)
}

.operator-btn {
    background-color: rgb(194, 134, 22);
}

.operator-btn:hover {
    background-color: rgb(210, 168, 91);
}