* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.container {
  background-color: transparent;
  border: 2px solid white;
  width: 60%;
  min-width: 450px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 20px 0;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  display: grid;
  justify-items: center;
}

.wrapper {
  width: 100%;
  text-align: center;
}

input[type='range'] {
  display: inline-block;
  width: 80%;
  margin-left: 10px;
  margin-top: 25px;
}

span {
  display: inline-block;
  text-align: center;
  margin: 20px 0;
  background-color: blue;
  color: white;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 0.5px;
  border-radius: 2px;
}
